/Homework/Hello World/build/
/Homework/Hello World/dist/
/Lab/Lab Assignment 1 - BudgetPercentage/build/
/Lab/Lab Assignment 1 - BudgetPercentage/dist/
/Class/Savitch_10thEd_Chap1_Prob1_Add2Ints/dist/
/Class/Savitch_10thEd_Chap1_Prob1_Add2Ints/build/
/Class/Savitch_10thEd_Chap1_Prob2_printCS/build/
/Class/Savitch_10thEd_Chap1_Prob2_printCS/dist/
/Class/Savitch_10thEd_Chap2_Prob3_CountingCoins/build/
/Class/Savitch_10thEd_Chap2_Prob3_CountingCoins/dist/
/Class/Savitch_10thEd_Chap1_Prob4_Freefall/dist/
/Class/Savitch_10thEd_Chap1_Prob4_Freefall/build/
/Class/Savitch_10thEd_Chap1_Prob5_BigC/dist/
/Class/Savitch_10thEd_Chap1_Prob5_BigC/build/
/Class/Gaddis_9thEd_Chap2_Prob16_DiamondPattern/dist/
/Class/Gaddis_9thEd_Chap2_Prob16_DiamondPattern/build/
/Class/Gaddis_9thEd_Chap2_Prob17_StockCommssion/build/
/Class/Gaddis_9thEd_Chap2_Prob17_StockCommssion/dist/
/Class/Gaddis_9thEd_Chap2_Prob19_AnnualHiTemp/build/
/Class/Gaddis_9thEd_Chap2_Prob19_AnnualHiTemp/dist/
/Class/Gaddis_9thEd_Chap2_Prob15_TrianglePattern/build/
/Class/Gaddis_9thEd_Chap2_Prob15_TrianglePattern/dist/
/Class/Gaddis_9th_Chap2_Prob20_FencePainting/build/
/Class/Gaddis_9th_Chap2_Prob20_FencePainting/dist/
/Class/HelloWorld/build/
/Class/HelloWorld/dist/